.pic-ctn {
  width: 400px;
  height: 300px;
  position: relative;
  margin-top: 20vh;
}

.pic-ctn img {
  width: 100%; /* Adjust the width to fit the container */
  height: auto; /* Maintain aspect ratio */
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: 50%; /* Adjusted for center alignment */
  transform: translateX(-50%); /* Center the image horizontally */
  opacity: 0;
  animation: display 5s infinite;
  animation-delay: 2s;
}
/* .pic-ctn > img:nth-child(1) {
  animation-delay: 2s;
} */
.pic-ctn > img:nth-child(2) {
  animation-delay: 4s;
}

.pic-ctn > img:nth-child(3) {
  animation-delay: 6s; /* Adjust delay for staggered animation */
}
